# mschoenebeck: added logs and .vscode folder
logs/
.vscode/
zeus_boxes/
**/node_modules/
**/dist/
**/build/
**/Common/
**/*.wasm
**/*.abi

**/Makefile
**/CMakeCache.txt
**/CMakeFiles/**
**/CMakeFiles
**/cmake_install.cmake
**/CMakeLists.txt
**/.placeholder
**/*-prefix

.idea/
.env
